html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus,
.form-select:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--portal-focus-color, #258cfb);
}

body {
    margin: 0;
}

a {
    color: var(--portal-button-color, #0d6efd);
}

    a:hover {
        color: var(--portal-button-color, #0d6efd);
    }
